<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/produtos"><img width="50px" src="./imgs/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex justify-content-between w-75"> <!-- Reduzindo a largura do contêiner flex -->
        <li class="nav-item active flex-grow-1">
          <a class="nav-link" href="/produtos" style="font-size: 25px; font-weight: bold;">Produtos <span class="sr-only">(current)</span></a> 
        </li>
        <li class="nav-item flex-grow-1">
          <a class="nav-link" href="/pedidos" style="font-size: 25px; font-weight: bold;">Pedidos</a> 
        </li>
       
        <li class="nav-item-active flex-grow-2">
          <a class="nav-link" href="/clientes" style="font-size: 25px; font-weight: bold;">Clientes</a> 
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 200px;"> 
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="font-size: 20px; font-weight: bold;">Search</button>
      </form>
    </div>
</nav>
